<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="bob_gazebo_ros2_control" params="name">

    <ros2_control name="bob_gazebo_ros2_control" type="system">
        <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
            <joint name="left_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            </joint>
        <joint name="right_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <transmission name="left_wheel_transmission">
            <plugin>transmission_interface/SimpleTransmission</plugin>
            <joint name="left_wheel_joint" role="left_wheel_joint">
                <mechanical_reduction>5</mechanical_reduction>
            </joint>
        </transmission>
        <transmission name="right_wheel_transmission">
            <plugin>transmission_interface/SimpleTransmission</plugin>
            <joint name="right_wheel_joint" role="right_wheel_joint">
                <mechanical_reduction>5</mechanical_reduction>
            </joint>
        </transmission>
    </ros2_control>

  </xacro:macro>

</robot>