<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bob">
  <xacro:arg name="simulated" default="true" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find bob_description)/gazebo/bob_materials.xacro" /> 

  <xacro:include filename="$(find bob_description)/urdf/bob_description.urdf.xacro" />

  <!-- Call macro to summon bob -->
  <xacro:summon_bob/>

  <!-- If simulating in gazebo, load simulated hardware interfaces and joint state broadcasters -->
  <xacro:if value="$(arg simulated)">
    <xacro:include filename="$(find bob_description)/ros2_control/bob_gazebo.ros2_control.xacro" />
    <xacro:bob_gazebo_ros2_control
      name="bob_gazebo_control" />

    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find bob_description)/config/bob_gazebo_controller.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:if>

  <!-- Else use the actual hardware interfaces -->
  <xacro:unless value="$(arg simulated)">
    <xacro:include filename="$(find bob_description)/ros2_control/bob_odrive_ros2_control.xacro" />
    <xacro:bob_ros2_control
      name="bob_control" />
  </xacro:unless>

</robot>
